.text {
  position: relative;
  top: -0.5px;
}

.muted {
  opacity: 0.5;
}

.small {
  font-size: var(--font-size-small);
}

.medium {
  font-size: var(--font-size-medium);
}

.large {
  font-size: var(--font-size-large);
}
