.fieldSet {
  border: none;
  box-shadow: var(--border-subtle);
  padding: 5px 9px 8px;
  position: relative;
}

.legend {
  background-color: var(--background);
  top: 0.5px;
  line-height: 1;
  position: relative;
  padding-inline: 2px;
  margin-inline: -2px;
}
